.period {
    width: 13%;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    padding: 8px;
    margin: 10px;
    background: linear-gradient(rgba(56, 135, 224, 0.5),rgba(255, 255, 255, 0.5));
    border: 2px solid rgba(255, 255, 255, 0.8);
    justify-content: center;
}

@media screen and (max-height: 630px) and (max-width: 1024px) {
    .period {
        width: 40%;
    }
}

@media screen and (max-width: 726px) {
    .period {
        width: 40%;
        padding: 0px;
        margin: 10px 15px;
        height: 100px;
    }
    .period__img {
        height: 60px;
        width: 70px;
    }
    .content {
        width: 90%;
    }
}

@media screen and (max-width: 430px) {
    .period__img {
        width: 50px;
        height: 40px;
    }
    .content {
        width: 100%;
    }
}
