.period {
    width: 13%;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    padding: 8px;
    margin: 10px;
    background: linear-gradient(rgba(13, 88, 173, 0.5),rgba(255, 255, 255, 0.5));
    border: 2px solid rgba(255, 255, 255, 0.8);
}